In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/prakb/OneDrive/Desktop/Income per Capita.csv")

In [5]:
df.columns = df.iloc[0]

In [6]:
df

,State,2012,2013,2014,2015,2016,2017,2018,NaN,NaN,NaN,https://fred.stlouisfed.org/series/ALPCPI
0,State,2012,2013,2014,2015,2016,2017,2018,NaN,NaN,NaN,https://fred.stlouisfed.org/series/ALPCPI
1,Alabama,"35,824","36,014","37,055","38,531","39,014","40,252","41,607",NaN,NaN,NaN,https://fred.stlouisfed.org/release/tables?rid...
2,Alaska,"53,708","52,812","55,867","57,575","56,278","57,278","59,783",NaN,NaN,NaN,NaN
3,Arizona,"36,545","37,139","38,756","40,334","41,473","43,301","45,299",NaN,NaN,NaN,NaN
4,Arkansas,"36,582","36,677","38,749","39,968","40,873","42,056","43,661",NaN,NaN,NaN,NaN
5,California,"48,121","48,502","51,266","54,546","56,560","58,813","61,509",NaN,NaN,NaN,NaN
6,Colorado,"45,630","47,404","50,797","52,339","52,390","55,294","58,471",NaN,NaN,NaN,NaN
7,Connecticut,"64,121","62,647","65,498","67,321","68,680","70,163","73,176",NaN,NaN,NaN,NaN
8,Delaware,"44,070","44,404","46,015","47,868","48,734","50,516","52,839",NaN,NaN,NaN,NaN
9,District of Columbia,"68,148","67,774","71,469","75,623","78,186","79,967","82,512",NaN,NaN,NaN,NaN
10,Florida,"41,540","41,162","43,516","45,659","46,454","49,020","51,444",NaN,NaN,NaN,NaN
11,Georgia,"37,495","37,794","39,969","41,941","43,033","44,996","46,824",NaN,NaN,NaN,NaN
12,Hawaii,"43,812","43,931","46,044","47,777","49,122","51,055","52,174",NaN,NaN,NaN,NaN
13,Idaho,"35,110","36,095","37,680","39,386","40,098","41,560","43,356",NaN,NaN,NaN,NaN
14,Illinois,"46,029","47,047","49,238","51,443","52,036","53,645","56,512",NaN,NaN,NaN,NaN
15,Indiana,"39,433","39,766","41,188","42,667","43,645","45,116","47,100",NaN,NaN,NaN,NaN
16,Iowa,"42,873","43,439","44,699","46,104","46,291","47,286","49,212",NaN,NaN,NaN,NaN
17,Kansas,"45,294","46,174","47,013","47,332","47,326","48,756","50,811",NaN,NaN,NaN,NaN
18,Kentucky,"35,875","36,058","37,645","39,232","39,750","40,770","41,977",NaN,NaN,NaN,NaN
19,Louisiana,"41,003","41,376","43,085","43,113","42,725","44,074","46,062",NaN,NaN,NaN,NaN
20,Maine,"40,411","40,329","41,797","43,672","44,740","46,421","48,220",NaN,NaN,NaN,NaN
21,Maryland,"52,787","52,249","53,659","55,825","57,632","59,183","60,630",NaN,NaN,NaN,NaN
22,Massachusetts,"56,669","56,628","58,924","62,376","64,295","66,625","69,517",NaN,NaN,NaN,NaN
23,Michigan,"39,266","39,566","41,207","43,425","44,527","45,648","47,314",NaN,NaN,NaN,NaN
24,Minnesota,"47,726","47,838","49,967","51,985","52,596","54,317","56,568",NaN,NaN,NaN,NaN
25,Mississippi,"33,657","34,259","34,896","35,533","36,021","36,907","37,927",NaN,NaN,NaN,NaN
26,Missouri,"40,317","40,569","41,963","43,322","44,410","45,376","47,230",NaN,NaN,NaN,NaN
27,Montana,"40,701","40,674","42,494","43,941","44,063","46,101","47,808",NaN,NaN,NaN,NaN
28,Nebraska,"46,670","46,653","48,957","50,556","49,360","50,204","52,023",NaN,NaN,NaN,NaN
29,Nevada,"39,909","39,664","41,773","44,493","45,450","47,542","49,737",NaN,NaN,NaN,NaN
30,New Hampshire,"51,123","50,865","52,643","54,684","56,321","58,419","60,929",NaN,NaN,NaN,NaN
31,New Jersey,"54,574","54,813","57,065","59,175","60,533","62,397","64,759",NaN,NaN,NaN,NaN
32,New Mexico,"35,749","35,088","37,219","38,103","38,775","39,437","41,145",NaN,NaN,NaN,NaN
33,New York,"53,102","53,395","55,290","57,481","59,280","63,045","65,097",NaN,NaN,NaN,NaN
34,North Carolina,"39,103","38,394","40,293","42,076","42,936","44,529","46,272",NaN,NaN,NaN,NaN
35,North Dakota,"56,443","54,900","57,523","53,991","52,005","52,455","55,511",NaN,NaN,NaN,NaN
36,Ohio,"40,759","41,259","42,829","44,442","45,212","46,711","48,438",NaN,NaN,NaN,NaN
37,Oklahoma,"42,232","44,017","46,614","44,894","42,521","44,444","46,474",NaN,NaN,NaN,NaN
38,Oregon,"39,371","39,788","42,134","44,694","45,999","47,983","50,536",NaN,NaN,NaN,NaN
39,Pennsylvania,"45,855","46,213","48,063","49,927","51,181","52,499","55,184",NaN,NaN,NaN,NaN
40,Rhode Island,"45,601","45,447","47,199","48,682","49,184","50,973","52,550",NaN,NaN,NaN,NaN
41,South Carolina,"35,989","36,204","38,152","40,053","41,178","42,819","44,326",NaN,NaN,NaN,NaN
42,South Dakota,"45,442","45,608","47,488","49,186","49,192","50,350","52,590",NaN,NaN,NaN,NaN
43,Tennessee,"39,373","39,454","40,753","42,535","43,499","44,969","47,006",NaN,NaN,NaN,NaN
44,Texas,"44,241","44,816","47,370","47,465","46,586","49,227","52,019",NaN,NaN,NaN,NaN
45,Utah,"36,005","36,511","38,168","40,459","41,750","43,400","46,002",NaN,NaN,NaN,NaN
46,Vermont,"45,277","45,770","47,641","48,876","49,621","50,709","52,191",NaN,NaN,NaN,NaN
47,Virginia,"49,309","48,573","50,318","52,238","53,268","54,976","56,738",NaN,NaN,NaN,NaN
48,Washington,"47,320","47,857","50,890","53,083","54,918","57,244","60,178",NaN,NaN,NaN,NaN
49,West Virginia,"35,453","35,318","36,570","37,468","37,380","39,169","41,300",NaN,NaN,NaN,NaN
50,Wisconsin,"42,944","43,050","44,709","46,548","47,205","48,741","50,818",NaN,NaN,NaN,NaN
51,Wyoming,"54,213","53,776","57,749","57,846","54,827","57,126","60,353",NaN,NaN,NaN,NaN

In [7]:
del df["2018"]

In [9]:
del df["https://fred.stlouisfed.org/series/ALPCPI"]

Empty DataFrame
Columns: [State, 2012, 2013, 2014, 2015, 2016, 2017, nan, nan, nan]
Index: []

In [13]:
df

,State,2012,2013,2014,2015,2016,2017,NaN,NaN,NaN
0,State,2012,2013,2014,2015,2016,2017,NaN,NaN,NaN
1,Alabama,"35,824","36,014","37,055","38,531","39,014","40,252",NaN,NaN,NaN
2,Alaska,"53,708","52,812","55,867","57,575","56,278","57,278",NaN,NaN,NaN
3,Arizona,"36,545","37,139","38,756","40,334","41,473","43,301",NaN,NaN,NaN
4,Arkansas,"36,582","36,677","38,749","39,968","40,873","42,056",NaN,NaN,NaN
5,California,"48,121","48,502","51,266","54,546","56,560","58,813",NaN,NaN,NaN
6,Colorado,"45,630","47,404","50,797","52,339","52,390","55,294",NaN,NaN,NaN
7,Connecticut,"64,121","62,647","65,498","67,321","68,680","70,163",NaN,NaN,NaN
8,Delaware,"44,070","44,404","46,015","47,868","48,734","50,516",NaN,NaN,NaN
9,District of Columbia,"68,148","67,774","71,469","75,623","78,186","79,967",NaN,NaN,NaN
10,Florida,"41,540","41,162","43,516","45,659","46,454","49,020",NaN,NaN,NaN
11,Georgia,"37,495","37,794","39,969","41,941","43,033","44,996",NaN,NaN,NaN
12,Hawaii,"43,812","43,931","46,044","47,777","49,122","51,055",NaN,NaN,NaN
13,Idaho,"35,110","36,095","37,680","39,386","40,098","41,560",NaN,NaN,NaN
14,Illinois,"46,029","47,047","49,238","51,443","52,036","53,645",NaN,NaN,NaN
15,Indiana,"39,433","39,766","41,188","42,667","43,645","45,116",NaN,NaN,NaN
16,Iowa,"42,873","43,439","44,699","46,104","46,291","47,286",NaN,NaN,NaN
17,Kansas,"45,294","46,174","47,013","47,332","47,326","48,756",NaN,NaN,NaN
18,Kentucky,"35,875","36,058","37,645","39,232","39,750","40,770",NaN,NaN,NaN
19,Louisiana,"41,003","41,376","43,085","43,113","42,725","44,074",NaN,NaN,NaN
20,Maine,"40,411","40,329","41,797","43,672","44,740","46,421",NaN,NaN,NaN
21,Maryland,"52,787","52,249","53,659","55,825","57,632","59,183",NaN,NaN,NaN
22,Massachusetts,"56,669","56,628","58,924","62,376","64,295","66,625",NaN,NaN,NaN
23,Michigan,"39,266","39,566","41,207","43,425","44,527","45,648",NaN,NaN,NaN
24,Minnesota,"47,726","47,838","49,967","51,985","52,596","54,317",NaN,NaN,NaN
25,Mississippi,"33,657","34,259","34,896","35,533","36,021","36,907",NaN,NaN,NaN
26,Missouri,"40,317","40,569","41,963","43,322","44,410","45,376",NaN,NaN,NaN
27,Montana,"40,701","40,674","42,494","43,941","44,063","46,101",NaN,NaN,NaN
28,Nebraska,"46,670","46,653","48,957","50,556","49,360","50,204",NaN,NaN,NaN
29,Nevada,"39,909","39,664","41,773","44,493","45,450","47,542",NaN,NaN,NaN
30,New Hampshire,"51,123","50,865","52,643","54,684","56,321","58,419",NaN,NaN,NaN
31,New Jersey,"54,574","54,813","57,065","59,175","60,533","62,397",NaN,NaN,NaN
32,New Mexico,"35,749","35,088","37,219","38,103","38,775","39,437",NaN,NaN,NaN
33,New York,"53,102","53,395","55,290","57,481","59,280","63,045",NaN,NaN,NaN
34,North Carolina,"39,103","38,394","40,293","42,076","42,936","44,529",NaN,NaN,NaN
35,North Dakota,"56,443","54,900","57,523","53,991","52,005","52,455",NaN,NaN,NaN
36,Ohio,"40,759","41,259","42,829","44,442","45,212","46,711",NaN,NaN,NaN
37,Oklahoma,"42,232","44,017","46,614","44,894","42,521","44,444",NaN,NaN,NaN
38,Oregon,"39,371","39,788","42,134","44,694","45,999","47,983",NaN,NaN,NaN
39,Pennsylvania,"45,855","46,213","48,063","49,927","51,181","52,499",NaN,NaN,NaN
40,Rhode Island,"45,601","45,447","47,199","48,682","49,184","50,973",NaN,NaN,NaN
41,South Carolina,"35,989","36,204","38,152","40,053","41,178","42,819",NaN,NaN,NaN
42,South Dakota,"45,442","45,608","47,488","49,186","49,192","50,350",NaN,NaN,NaN
43,Tennessee,"39,373","39,454","40,753","42,535","43,499","44,969",NaN,NaN,NaN
44,Texas,"44,241","44,816","47,370","47,465","46,586","49,227",NaN,NaN,NaN
45,Utah,"36,005","36,511","38,168","40,459","41,750","43,400",NaN,NaN,NaN
46,Vermont,"45,277","45,770","47,641","48,876","49,621","50,709",NaN,NaN,NaN
47,Virginia,"49,309","48,573","50,318","52,238","53,268","54,976",NaN,NaN,NaN
48,Washington,"47,320","47,857","50,890","53,083","54,918","57,244",NaN,NaN,NaN
49,West Virginia,"35,453","35,318","36,570","37,468","37,380","39,169",NaN,NaN,NaN
50,Wisconsin,"42,944","43,050","44,709","46,548","47,205","48,741",NaN,NaN,NaN
51,Wyoming,"54,213","53,776","57,749","57,846","54,827","57,126",NaN,NaN,NaN

In [14]:
df.to_csv("income.csv",
                  encoding="utf-8",index=False, header=True)