In [58]:
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [59]:
# Read in the Data
results = pd.read_csv('../CleanData/merge_di.csv')
results.head()

   Year    State  Deaths Avg Income (12-17)
0  2017  Alabama  53,238             37,782
1  2016  Alabama  52,466             37,782
2  2015  Alabama  51,909             37,782
3  2014  Alabama  50,215             37,782
4  2013  Alabama  50,189             37,782

In [60]:
#Reorder columns 
new_df=results[['State', 'Year', 'Avg Income (12-17)', 'Deaths']]
new_df

       State  Year Avg Income (12-17)  Deaths
0    Alabama  2017             37,782  53,238
1    Alabama  2016             37,782  52,466
2    Alabama  2015             37,782  51,909
3    Alabama  2014             37,782  50,215
4    Alabama  2013             37,782  50,189
..       ...   ...                ...     ...
301  Wyoming  2016             55,923   4,722
302  Wyoming  2015             55,923   4,778
303  Wyoming  2014             55,923   4,666
304  Wyoming  2013             55,923   4,516
305  Wyoming  2012             55,923   4,481

[306 rows x 4 columns]

In [61]:
# col_list= list(new_df)

In [62]:
# new_df['Sum'] = new_df[col_list].sum(axis = 1)
# new_df

In [63]:
# new_df['Mean'] = new_df[col_list].mean(axis = 1)
# new_df

In [64]:
new_df2 = pd.get_dummies(new_df, prefix=['State'], columns=['State'])
new_df2

,Year,Avg Income (12-17),Deaths,State_Alabama,State_Alaska,State_Arizona,State_Arkansas,State_California,State_Colorado,State_Connecticut,...,State_South Dakota,State_Tennessee,State_Texas,State_Utah,State_Vermont,State_Virginia,State_Washington,State_West Virginia,State_Wisconsin,State_Wyoming
0,2017,"37,782","53,238",1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2016,"37,782","52,466",1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015,"37,782","51,909",1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2014,"37,782","50,215",1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2013,"37,782","50,189",1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2016,"55,923","4,722",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
302,2015,"55,923","4,778",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
303,2014,"55,923","4,666",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
304,2013,"55,923","4,516",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
305,2012,"55,923","4,481",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [69]:
new_df3 = pd.get_dummies(new_df2, prefix=['Year'], columns=['Year'])
new_df3

,Avg Income (12-17),Deaths,State_Alabama,State_Alaska,State_Arizona,State_Arkansas,State_California,State_Colorado,State_Connecticut,State_Delaware,...,State_Washington,State_West Virginia,State_Wisconsin,State_Wyoming,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017
0,"37,782","53,238",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,"37,782","52,466",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,"37,782","51,909",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,"37,782","50,215",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,"37,782","50,189",1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,"55,923","4,722",0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
302,"55,923","4,778",0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
303,"55,923","4,666",0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
304,"55,923","4,516",0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
305,"55,923","4,481",0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0

In [73]:
# Assign the data to X and y

X = new_df3[["Avg Income (12-17)", 'State_Alabama', 'State_Alaska',
            'State_Arizona', 'State_Arkansas', 'State_California', 'State_Colorado', 'State_Connecticut', 'State_Delaware',
            'State_Georgia', 'State_Hawaii', 'State_Idaho', 'State_Illinois', 'State_Indiana', 'State_Iowa', 'State_Kansas',
            'State_Kentucky', 'State_Louisiana',  'State_Washington', 'State_West Virginia', 'State_Wisconsin', 'State_Wyoming',
            'Year_2012', 'Year_2013', 'Year_2014', 'Year_2015', 'Year_2016', 'Year_2017']]

y = new_df3[["Deaths"]].values.reshape(-1,1)

print(X.shape, y.shape)

(306, 28) (306, 1)

In [78]:
# Create training and testing data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [80]:
# Create a StandardScater model and fit to the training data

from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

# Use the X_scaler/y_scaler to transform
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

ValueError: could not convert string to float: '39,066'